*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}


body{
	width:1349px;
}

#wrap{
	width:100%;
}

.top{
	width:100%;
	height: 50px;
	background-color:#fafafa;
}

.top .img400-num{
	width:160px;
	height:50px;
	float:left;
	margin-left:120px;
}


.top .top-right{
	width:280px;
	height: 50px;
	float: right;
	margin-right:120px;
	/*border: 1px solid red;*/
}

.top .top-right a{
	float:left;
	display: block;
	width:120px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
	line-height: 50px;
	
}

.top .top-right a .QQ-icon{
	display: inline-block;
	width:16px;
	height:16px;
	background: url("../img/icon.png") no-repeat;
	background-position:-56px -760px;
	
}

.top .top-right a:hover{
	background-color: red;
	color:#fff !important;
}


.top .top-right a .text{
	font-size: 15px;
	color:#c1c1c1;
}

.top .top-right .weixin{
	width:160px;
	float:left;
}

.top .top-right .weixin .box{
	width:160px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
	line-height: 50px;
}

.top .top-right .weixin .text{
	font-size: 15px;
	color:#c1c1c1;
	
}

.saomiao{
	width:16px;
	height:18px;
	display: inline-block;
	color:#c1c1c1;
	background: url('../img/icon.png') no-repeat;
	background-position: -95px -814px;
	opacity: 0.7;
}

nav{
	width:100%;
	height: 90px;
	border: 1px solid #ddd;
	
}

nav .left{
	width:460px;
	height: 90px;
	/*border:1px solid red;*/
	margin-left:120px;
	float:left
}

nav .left .logo-title{
	width:460px;
	height: 90px;
	background: url('../img/logo2.png') no-repeat left center;
	text-align:right;
	line-height: 90px;
	font-size:14px;
}

nav .right{
	width:650px;
	height: 90px;
	/*border: 1px solid red;*/
	float:left;
	margin-left: 100px;
}


nav ul{
	overflow: hidden;
}

nav ul li{
	width: 80px;
	height: 90px;
	float:left;
}

nav ul li:nth-of-type(1){
	width: 60px;
}

nav ul li:nth-of-type(2){
	width: 60px;
}

nav ul li a{
	display: block;
	color:#000;
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 90px;
}

#banner{
	width:100%;
	height:300px;
	background:url('../img/banner1.jpg') no-repeat;
}

#banner .container{
	width: 80%;
	margin:0 auto;
}

#banner h2{
	color:#fff;
	padding-top: 100px;
	font-size: 36px;
}

#banner p{
	color:#fff;
	margin-top: 30px;
	font-size:20px;
}

.footer{
	width:100%;
	height:500px;
	background:url('../img/footer-bg.jpg') no-repeat;
	background-size: 100% 100%;
}


.footer .f_wrap{
	width:80%;
	height: 100%;
	margin:0 auto;
}

.f_top{
	width:100%;
	height: 120px;
	padding-top:50px;
}


.f_top h2{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-family: "inherit";
}

.f_top p{
	height: 24px;
	color:#fff;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
}

.f_bottom{
	width:100%;
	height:330px;
}

.f_bottom .f_left{
	width: 600px;
	height: 100%;
	/*border:1px solid #fff;*/
	float:left;
}


.f_bottom input{
	height: 40px;
	line-height: 40px;
	background: none;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	border:1px solid #fff;
	border-radius: 5px;
	padding-left:10px;
	
}



.f_bottom #name{
	width: 175px;
	
}


#tel{
	width:320px;
	margin-left: 20px;
}

#QQ{
	width:248px;
}

#weixin{
	width:248px;
	margin-left: 20px;
}

.show{
	width:540px;
	height: 76px;
	background: none;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    border: 1px solid #fff;
    outline: none;
    box-sizing:border-box;
    border-radius: 5px;
    margin-top:20px;
    padding: 10px 0 0 10px;
    
    
}

#submit{
	width:100px;
	height: 40px;
	background-color: #1773ba;
	outline: none;
	border:none;
	border-radius:5px;
	text-align: center;
	line-height: 40px;
}

input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}

.show::-webkit-input-placeholder{
    color: #fff;
    opacity:1;
    font-size: 14px;
    font-family: "微软雅黑";
    
}


.f_bottom .f_right{
	width:450px;
	float:left;
	/*border:1px solid #fff;*/
	margin-left:20px;
}

.f_bottom .f_right ul li{
	width:80%;
	height: 50px;
	text-align: left;
	line-height: 50px;
	color:#fff;
	font-size:14px;
	margin:0 auto;
}

.f_bottom .f_right ul li span{
	display: inline-block;
	width:28px;
	height:28px;
	
	margin-right: 12px;
	top:8px;
	position: relative;
	float:left;
}

.f_icon1{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -481px;
}

.f_icon2{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -535px;
}

.f_icon3{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -590px;
}

.f_icon4{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -645px;
}


.f_bottom .f_right ul li:nth-of-type(1) p{
	float:left;
	font-weight: bold;
}


.bottom{
	width:100%;
	height: 375px;
}

.b_wrap{
	width:80%;
	height: 100%;
	margin:0 auto;
	
}


.b_wrap .b_top{
	width: 100%;
	height: 280px;
	border-bottom:1px solid #ddd;
}

.b_wrap .b_top ul li{
	height: 30px;
	text-align: left;
	line-height:30px;
}
.b_wrap .b_top ul li:nth-of-type(1){
	margin-bottom: 14px;
}


.b_wrap .b_top ul li a{
	color:#999999;
	font-size: 14px;
	
}

.b_wrap .b_top ul li .tit{
	color:#3f3f3f;
}

.column1{
	width:60px;
	float:left;
	margin:30px 80px 0 0;
}

.column2{
	width: 60px;
	float:left;	
	margin:30px 80px 0 0;
}

.column3{
	width: 120px;
	float:left;	
	margin:30px 80px 0 0;
}

.column4{
	width: 90px;
	float:left;	
	margin:30px 80px 0 0;
}

.column5{
	width: 60px;
	float:left;
	margin:30px 80px 0 0;	
}

.b_left{
	float: left;
	width:800px;
	height: 100%;
	/*border:1px solid #ddd;*/ 
}

.b_right{
	float:left;
	width:250px;
	height: 100%;
	/*border:1px solid #ddd;*/
	margin-left: 20px;
	
}


.b_right p:nth-of-type(1){
	width: 100%;
	height:30px;
	text-align: center;
	line-height: 30px;
	color: #3f3f3f;
	font-size:14px;
	margin-top: 30px;
}

.b_right img{
	width:120px;
	height: 120px;
	display: block;
	margin-left:70px;
}

.b_right p:nth-of-type(2){
	width: 100%;
	height: 40px;
	margin:20px 0 0 45px;
	
}


.b_right p:nth-of-type(2) span:nth-of-type(1){
	width:18px;
	height:18px;
	display:block;
	background:url('../img/icon.png') no-repeat;
	background-position:-55px -705px;
	float:left;
	margin-right:14px;
}

.b_right p:nth-of-type(2) span:nth-of-type(2){
	width:200px;
	height: 40px;
	display:block;
	float:left;
	font-size: 20px;
	margin-top:-5px;
}

.b_bottom ul{
	overflow: hidden;
	margin-top:20px;
}


.b_bottom ul li:after{
	content: "|";
	height: 10px;
	padding-left: 5px;
}

.b_bottom ul li:nth-of-type(1):after{
	content:"";
}

.b_bottom ul li:nth-of-type(6):after{
	content:"";
}

.b_bottom ul li{
	float:left;
	width:80px;
	height: 30px;
	font-size:14px;
	color:#3f3f3f;
	text-align:center;
	line-height:30px;
}


.b_bottom ul li:nth-of-type(2){
	width:100px;
}

.b_bottom ul li:nth-of-type(3),.b_bottom ul li:nth-of-type(4){
	width:70px;
}

.b_bottom ul li:nth-of-type(6){
	width:120px;
}


.b_bottom p{
	width: 80%;
	color:#999999;
	font-size: 13px;
	float:left;
}
