*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}


body{
	width:1347px;
}

#wrap{
	width:100%;
}

.top{
	width:100%;
	height: 50px;
	background-color:#fafafa;
}

.top .img400-num{
	width:160px;
	height:50px;
	float:left;
	margin-left:120px;
}


.top .top-right{
	width:280px;
	height: 50px;
	float: right;
	margin-right:120px;
	/*border: 1px solid red;*/
}

.top .top-right a{
	float:left;
	display: block;
	width:120px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
	line-height: 50px;
	
}

.top .top-right a .QQ-icon{
	display: inline-block;
	width:16px;
	height:16px;
	background: url("../img/icon.png") no-repeat;
	background-position:-56px -760px;
	
}

.top .top-right a:hover{
	background-color: red;
	color:#fff !important;
}


.top .top-right a .text{
	font-size: 15px;
	color:#c1c1c1;
}

.top .top-right .weixin{
	width:160px;
	float:left;
}

.top .top-right .weixin .box{
	width:160px;
	height: 50px;
	background-color: #eeeeee;
	text-align: center;
	line-height: 50px;
}

.top .top-right .weixin .text{
	font-size: 15px;
	color:#c1c1c1;
	
}

.top .top-right .box:hover{
	background: red;
}

.top .top-right .box:hover .text{
	color:#fff;
}
.top .top-right .box:hover .saomiao{
	color:#fff !important;
}

.top .top-right .box:hover+.slide-down-icon{
	display: block !important;
	z-index: 1000;
	transition: 1s;
	background-color:#FFFFFF !important;
}
.top .top-right .slide-down-icon:hover{
	display:block !important;
}


.saomiao{
	width:16px;
	height:18px;
	display: inline-block;
	color:#c1c1c1;
	background: url('../img/icon.png') no-repeat;
	background-position: -95px -814px;
	opacity: 0.7;
}

.nav_wrap{
	width:100%;
	height: auto;
	position: relative;
}

nav{
	width:100%;
	height: 90px;
	border: 1px solid #ddd;
	
}

nav .left{
	width:460px;
	height: 90px;
	/*border:1px solid red;*/
	margin-left:120px;
	float:left
}

nav .left .logo-title{
	width:460px;
	height: 90px;
	background: url('../img/logo2.png') no-repeat left center;
	text-align:right;
	line-height: 90px;
	font-size:14px;
}

nav .right{
	width:650px;
	height: 90px;
	/*border: 1px solid red;*/
	float:left;
	margin-left: 100px;
}


nav ul{
	overflow: hidden;
	position: relative;
}

nav ul li{
	width: 80px;
	height: 90px;
	float:left;
}

/*nav ul li:nth-of-type(1){
	width: 60px;
}

nav ul li:nth-of-type(2){
	width: 60px;
}*/

nav ul li a{
	display: block;
	color:#000;
	font-size: 14px;
	font-family: "微软雅黑";
	text-align: center;
	line-height: 90px;
}

nav ul li a:hover{
	color:#1673b9;
}

nav ul .nav_slide:nth-of-type(1),.nav_slide:nth-of-type(2){
	display: block;
	position: absolute;
	background-color: blue;
	/*width: 60px;*/
	width:80px;
	height: 2px;
	left: 0;
	bottom: 0;
}

.slide_down{
	width:100%;
	height: 350px;
	position: absolute;
	left:0;
	top:92px;
	background: #fff;
	z-index: 1;	
	display:none;
}

.slide_down_content{
	width:90%;
	margin:0 auto;
	overflow: hidden;
}

.slide_down_left{
	width:605px;
	height:304px;
	float:left;
	
}
.slide_down_left ul li{
	display:none;
}

.slide_down_left ul li img{
	width:100%;
	display:block;
}


.slide_down_right{
	float:left;
	width:536px;
	height: 304px;
	margin-left:10px;
	margin-top: -1px;
}

.slide_down_right ol li{
	width:100%;
	height: 50px;
	border:1px solid #ddd;
	padding-left:20px;	
	margin-top:-1px;
	margin-top: 9px;
}

.slide_down_right ol li h5{
	font-size:14px;
	color:#333;
	font-weight:400;
	margin-top:6px;
}
.txt-hidden{
	font-size: 13px;
	color:#999999;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient:vertical;
	
}
.banner{
	width:100%;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.banner>div{
	/*display:block;*/
	width:40px;
	height: 100px;
	font-size:60px;
	color:#fff;
	text-align: center;
	line-height: 100px;
	background: transparent;
	position: absolute;
	top:50%;
	margin-top: -50px;
	cursor: pointer;
}

.banner>div:nth-of-type(1){
	left:20px;
}

.banner>div:nth-of-type(2){
	right:20px;
}
.banner ul{
	width:4050px;
	position: absolute;
	top:0;
	left:0;
}

.banner ul li{
	width: 1349px;
	height: 500px;
	float:left;
}
.banner ul li img{
	width: 100%;
	height: 500px;
	display: block;
}
.banner ol{
	width:240px;
	position: absolute;
	bottom: 20px;
	left:50%;
	margin-left: -120px;
}

.banner ol li{
	width:60px;
	height: 3px;
	background: rgba(255,255,255,.2);
	float:left;
	margin-right:10px;
}
.box1{
	width:100%;
	height: auto;	
}

.box1 .box1_content{
	width:90%;
	height: 100%;
	margin:0 auto;
}

.box1 .box1_content h2{
	font-size:32px;
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	color: #000;
	font-family: "微软雅黑";
	font-weight: 500;
	
}

.box1 .box1_content p{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color:#999999;
	font-size:14px;
	margin-top:10px;
}

.box1 .box1_content ul{
	overflow: hidden;
	margin-top:50px;
}


.box1 .box1_content ul li{
	float:left;
	width:240px;
	height:370px;
	position: relative;
}
.box1 .box1_content ul li:nth-of-type(1){
	background:url('../img/coreyewu1-bg.jpg');
}
.box1 .box1_content ul li:nth-of-type(2){
	background:url('../img/coreyewu-bg.jpg');
}
.box1 .box1_content ul li:nth-of-type(3){
	background:url('../img/coreyewu3-bg.jpg');
}
.box1 .box1_content ul li:nth-of-type(4){
	background:url('../img/coreyewu2-bg.jpg');
}
.box1 .box1_content ul li:nth-of-type(5){
	background:url('../img/coreyewu4-bg.jpg');
}
/*.box1 .box1_content ul li img{
	display:block;
}*/

.box1 .box1_content .shade{
	width:100%;
	height: 100%;
 	background: rgba(67, 202, 247, 0.8);
 	text-align: center;
 	color:#fff;
 	position: relative;
	display:none;
}

.box1 .box1_content ul li .li_main{
	width:90%;
	height:auto;
	position: absolute;
	left:0;
	top:0;
}

.box1 .box1_content ul li .li-icon{
	width:100%;
	padding-top: 150px;
	padding-left:10px;
	padding-bottom: 24px;
}

.box1 .box1_content ul li .li-icon>span{
	display:block;
	margin:0 auto;
	width:66px;
	height:58px;
	background: url('../img/icon.png') no-repeat;
}


.box1 .box1_content .shade .shade_main{
	width:90%;
	height:auto;
	position: absolute;
	left:50%;
	top:50%;width:90%;
	height:auto;
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.box1 .box1_content .shade .shade_main .item-icon{
	width:100%;
	padding-top: 24px;
	padding-bottom: 24px;
}
.box1 .box1_content .shade .shade_main .item-icon>span{
	display:block;
	margin:0 auto;
	width:66px;
	height:58px;
	background: url('../img/icon.png') no-repeat;
}
.box1 .box1_content .bg-icon1{
	background-position: -100px -49px !important;
}
.box1 .box1_content .bg-icon2{
	background-position: -104px -143px !important;
}.box1 .box1_content .bg-icon3{
	background-position: -105px -330px !important;
}.box1 .box1_content .bg-icon4{
	background-position: -110px -237px !important;
}
.box1 .box1_content .bg-icon5{
	background-position: -110px -426px !important;
}

.box1 .box1_content .shade .shade_main .main_icon{
	/*display:none;*/
	font-size: 36px;
	font-weight: 200;
}

.box1 .box1_content .shade .shade_main .main_icon p{
	width:100%;
	height: auto;
	font-size:12px;
	color:#fff;
	line-height: 20px;
}

a.check-detail-btn {
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    outline: none;
}

.box2{
	width: 100%;
	height: 600px;
	background: url('../img/bg-map.jpg') no-repeat;
	background-size:100% 100%;
}

.box2 .box2_content{
	width:90%;
	height: 100%;
	margin:0 auto;
}

.box2 .box2_content h2{
	font-size:32px;
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	color: #000;
	font-family: "微软雅黑";	
	font-weight: 500;
}

.box2 .box2_content p{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color:#999999;
	font-size:14px;
	margin-top:10px;
}

.box2 .box2_content p:nth-of-type(2){
	margin-top:-10px;
}


.box2 .box2_content ul{
	overflow: hidden;
	margin-top:80px;
}

/*@media screen and (max-width: 1400px) {*/
	.box2 .box2_content ul li{
	float:left;
	width:110px;
	height:168px;
	border:1px solid #ddd;
	margin-right: 8px;
	background-color: #fff;
	box-shadow: 0 0 11px rgba(219, 217, 217, 0.6);
	}
	
	.box2 .box2_content ul li .bg-icon2{
	width: 35px;
    height: 35px;
    margin: 50px auto 30px;
    background:url('../img/icon2.png') no-repeat;
/*}*/

}

	.box2 .box2_content ul li .img1{
	  background-position: 0 -1px;
	}
	
	.box2 .box2_content ul li .img2{
	  background-position: -42px 0px;
	}
	
	.box2 .box2_content ul li .img3{
	  background-position: -85px -1px;
	}
	.box2 .box2_content ul li .img4{
	  background-position: -128px -1px;
	}
	.box2 .box2_content ul li .img5{
	  background-position: -170px -1px;
	}
	.box2 .box2_content ul li .img6{
	  background-position: 0 -47px;
	}
	.box2 .box2_content ul li .img7{
	  background-position: -42px -47px;
	}
	.box2 .box2_content ul li .img8{
	  background-position: -85px -43px;
	}
	.box2 .box2_content ul li .img9{
	  background-position: -128px -43px;
	}
	.box2 .box2_content ul li .img10{
	  background-position: -168px -44px;
	}
		
.box2 .box2_content ul li:hover{
	transform: rotate(360deg);
	transition: 1s;
}

.Hr{
	width:98%;
	height: 2px;
	position: relative;
	margin-top: 50px;
}

.hr{
	width:100%;
	height: 2px;
	position: absolute;
	left:0;
	bottom:0;
	background-color:#999999;
}

.hr:after{
	content: ">";
	font-size: 20px;
	color:#999999;
	font-weight: bold;
	position: absolute;
	right:-6px;
	bottom:-10px;
}

.box3{
	width:100%;
	height: 540px;
	background-color: #e6e6e6;
	position: relative;
}

.video_shade{
	width:100%;
	height: 100%;
	background-color:rgba(0,0,0,.4);
	position: absolute;
	left:0;
	top:0;	
}

.video_shade>h3{
	font-size:36px;
	color:#fff;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top: -30px;
}

.video_shade>p{
	font-size: 16px;
	color:#fff;
	position: absolute;
	top:55%;
	left:51%;
	margin-left:-160px;
}
.video_shade>.shiping{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border:2px solid #fff;
	position: absolute;
	top:62%;
	left:51%;
	margin-left:-80px;
	color:#fff;
	cursor: pointer;
	
}

.bg_video{
	width: 100%;
	height: 100%;
}


.box4{
	width:100%;
	height: 660px;
}

.box4 .box4_content{
	width:90%;
	height: 100%;
	margin:0 auto;
}

.box4 .box4_content h2{
	font-size:32px;
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	color: #000;
	font-family: "微软雅黑";
	font-weight: 500;	
}

.box4 .box4_content p{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color:#999999;
	font-size:14px;
	margin-top:10px;
}

.box4 .box4_content p:nth-of-type(2){
	margin-top:-10px;
	margin-bottom: 50px;
}

.box4 .box4_content ul{
	width:100%;
	overflow: hidden;
	margin: 0 auto;
}

.box4 .box4_content ul li{
	width:285px;
	height:334px;
	float:left;
	margin-right: 10px;
	border:1px solid #ddd;
	position: relative;
	
}

.box4 .box4_content ul li img{
	width: 285px;
	height: 200px;
	display: block;
	overflow: hidden;
}

.box4 .box4_content ul li img:hover{
	transform: scale(0.8);
	transition: 1s;
}

.box4 .box4_content ul li h3{
	width:120px;
	height: 40px;
	color:#333;
	font-size:22px;
	line-height: 40px;
	font-weight:300;
	margin-left:20px;
	margin-top: 10px;
}

.box4 .box4_content ul li p{
	width:250px;
	color:#333;
	font-size:16px;
	margin:0 20px;
	text-align: left;
	line-height: 25px;
}

.box4 .box4_content ul li:nth-of-type(3) p{
	width: 245px;
	height:55px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
}

.xiangqing{
	display:block;
	width:150px;
	height: 30px;
	border:1px solid #000;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	margin: 30px auto;
	cursor: pointer;
	color: #333;
}

.box5{
	width:100%;
	/*height: 800px;*/
	height:auto;
	background: linear-gradient(#fafafc, #fff);
	position: relative;
}

/*.box5 .box5_content{
	width:1200px;
	height: 100%;
	margin:0 auto;
	
}*/

.box5 .context{
	width:100%;
	height:auto;
}



.box5  h2{
	font-size:32px;
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	color: #000;
	font-family: "微软雅黑";	
	font-weight: 500;
}

.box5  p{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color:#999999;
	font-size:14px;
	margin-top:10px;
}

.lunbo_wrap{
	width:1200px;
	height:650px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}

.lunbo_wrap>ul{
	width:5000px;
	height: 650px;
	position: absolute;
}

.up_content{
	width:1200px;
	height:650px;
	margin-top:20px;
	float:left;
	/*display:none;*/
	/*opacity: 0;
	filter: alpha(opacity:0);
	transition: 1s;*/
}

.dian{
	width:400px;
	height: 10px;
	position: absolute;
	bottom:30px;
	left:50%;
	margin-left:-200px;
}

.dian li{
	width:80px;
	height:2px;
	background:rgba(0,0,0,0.2);
	margin-left:15px;
	float:left;
	
}

.btn1_before{
	font-size:80px;
	color:deepskyblue;
	position: absolute;
	top:50%;
	left:40px;
	margin-top:-40px;
	cursor: pointer;
}

.btn2_after{
	font-size:80px;
	color:deepskyblue;
	position: absolute;
	top:50%;
	right:40px;
	margin-top:-40px;
	cursor: pointer;
}

.up_left{
	width:356px;
	height:622px;
	float:left;
}

.up_middle{
	width: 40%;
    height: 100%;
    text-align: center;
    color: #333;
    padding-top: 175px;
    float:left;
   /* position: relative;*/
}

.box5 .up_middle>.txt1{
	font-size:32px;
	font-weight:500;
	padding-bottom: 50px;
	text-align:center;
	line-height: 3.2em;
	color:#333;
}

.box5 .up_middle>p{
	font-size:14px;
	color:#333;
	padding-bottom: 50px;
	height: auto;
}


.box6{
	width:100%;
	height: 800px;
	background: linear-gradient(#fafafc, #fff);
}

.box6 .box6_content{
	width:90%;
	height: 100%;
	margin:0 auto;
}

.box6 .box6_content h2{
	font-size:32px;
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	color: #000;
	font-family: "微软雅黑";	
	font-weight: 500;
}

.box6 .box6_content p{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color:#999999;
	font-size:14px;
	margin-top:10px;
	margin-bottom: 50px;
}

.box6 .box6_content ul{
	width:100%;
	height: 596px;
	margin: 0 auto;
}

.box6 .box6_content ul li{
	width:171px;
	height: 119px;
	border:1px solid #ddd;
	background-color:#fff !important;
	/*background: url('../img/logo-qiang.jpg') no-repeat;*/
	float:left;
	margin-left: -1px;
	margin-bottom: -1px;
}
.box6 .box6_content ul li a{
	display:block;
	width:100%;
	height: 119px;
	background: url('../img/logo-qiang.jpg') no-repeat;
}


.box6 .box6_content ul li a:hover{
	transform:rotateY(360deg);
	transition: 3s;
}



.box6 .box6_content ul li:nth-of-type(2) a{
	background-position: -171px 0;
}
.box6 .box6_content ul li:nth-of-type(3) a{
	background-position: -342px 0;
}
.box6 .box6_content ul li:nth-of-type(4) a{
	background-position: -513px 0;
}
.box6 .box6_content ul li:nth-of-type(5) a{
	background-position: -684px 0;
}
.box6 .box6_content ul li:nth-of-type(6) a{
	background-position: -855px 0;
}
.box6 .box6_content ul li:nth-of-type(7) a{
	background-position: -1026px 0;
}
.box6 .box6_content ul li:nth-of-type(8) a{
	background-position: 0px -119px;
}
.box6 .box6_content ul li:nth-of-type(9) a{
	background-position: -171px -119px;
}
.box6 .box6_content ul li:nth-of-type(10) a{
	background-position: -342px -119px;
}
.box6 .box6_content ul li:nth-of-type(11) a{
	background-position: -513px -119px;
}
.box6 .box6_content ul li:nth-of-type(12) a{
	background-position: -684px -119px;
}
.box6 .box6_content ul li:nth-of-type(13) a{
	background-position: -855px -119px;
}
.box6 .box6_content ul li:nth-of-type(14) a{
	background-position: -1026px -119px;
}
.box6 .box6_content ul li:nth-of-type(15) a{
	background-position: 0px -238px;
}
.box6 .box6_content ul li:nth-of-type(16) a{
	background-position: -171px -238px;
}
.box6 .box6_content ul li:nth-of-type(17) a{
	background-position: -342px -238px;
}
.box6 .box6_content ul li:nth-of-type(18) a{
	background-position: -513px -238px;
}
.box6 .box6_content ul li:nth-of-type(19) a{
	background-position: -684px -238px;
}
.box6 .box6_content ul li:nth-of-type(20) a{
	background-position: -855px -238px;
}
.box6 .box6_content ul li:nth-of-type(21) a{
	background-position: -1026px -238px;
}
.box6 .box6_content ul li:nth-of-type(15) a{
	background-position: 0px -238px;
}
.box6 .box6_content ul li:nth-of-type(16) a{
	background-position: -171px -238px;
}
.box6 .box6_content ul li:nth-of-type(17) a{
	background-position: -342px -238px; 
}
.box6 .box6_content ul li:nth-of-type(18) a{
	background-position: -513px -238px;
}
.box6 .box6_content ul li:nth-of-type(19) a{
	background-position: -684px -238px;
}
.box6 .box6_content ul li:nth-of-type(20) a{
	background-position: -855px -238px;
}
.box6 .box6_content ul li:nth-of-type(21) a{
	background-position: -1026px -238px;
}
.box6 .box6_content ul li:nth-of-type(22) a{
	background-position: 0px -357px;
}
.box6 .box6_content ul li:nth-of-type(23) a{
	background-position: -171px -357px;
}
.box6 .box6_content ul li:nth-of-type(24) a{
	background-position: -342px -357px;
}
.box6 .box6_content ul li:nth-of-type(25) a{ 
	background-position: -513px -357px;
}
.box6 .box6_content ul li:nth-of-type(26) a{
	background-position: -684px -357px;
}
.box6 .box6_content ul li:nth-of-type(27) a{
	background-position: -855px -357px;
}
.box6 .box6_content ul li:nth-of-type(28) a{
	background-position: -1026px -357px;
}
.box6 .box6_content ul li:nth-of-type(29) a{
	background-position: 0px -476px;
}
.box6 .box6_content ul li:nth-of-type(30) a{
	background-position: -171px -476px;
}
.box6 .box6_content ul li:nth-of-type(31) a{ 
	background-position: -342px -476px;
}
.box6 .box6_content ul li:nth-of-type(32) a{
	background-position: -513px -476px;
}
.box6 .box6_content ul li:nth-of-type(33) a{
	background-position: -684px -476px;
}
.box6 .box6_content ul li:nth-of-type(34) a{
	background-position: -855px -476px;
}
.box6 .box6_content ul li:nth-of-type(35) a{
	background-position: -1026px -476px;
}

.box7{
	width:100%;
	height: 600px;
	background: linear-gradient(#fafafc, #fff);
}

.box7 .box7_content{
	width:90%;
	height: 100%;
	margin:0 auto;
}

.box7 .box7_content h2{
	font-size:32px;
	text-align: center;
	line-height: 32px;
	padding-top: 50px;
	color: #000;
	font-family: "微软雅黑";	
	font-weight: 500;
	margin-bottom: 50px;
}

.box7 .box7_content ol{
	overflow: hidden;
}

.box7 .box7_content ol li{
	width:370px;
	height: 40px;
	float:left;
	line-height: 40px;
	font-size:14px;
	padding-left: 10px;
	margin-right: 20px;
	border:1px solid #ddd;
	background-color: #fff;
	cursor:pointer;
}

.box7 .box7_content ol li:hover{
	border-color: deepskyblue;
}

.box7 .box7_content ol li span:nth-of-type(1){
	width:250px;
	display: block;
	float:left;
}

.box7 .box7_content ol li span:nth-of-type(2){
	display: block;
	width:50px;
	float:right;
	color:#999999; 
	padding-right: 10px;  
	
}
.box7 .box7_content .box7_wrap{
	overflow: hidden;
}

.box7 .box7_content .box7_wrap li{
	float: left;
	width:380px;
	height:320px;
	border:1px solid #ddd;
	margin:10px 20px 0 0;
	background-color: #fff;
}

.box7 .box7_content .box7_wrap li:hover{
	border-color:deepskyblue;
}

.xiangqing2{
	display: block;
	width:150px;
	height: 30px;
	border:1px solid #000;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	margin: 30px auto;
	cursor: pointer;
	color: #333;
}

.box7_top{
	width: 380px;
	height: 150px;
	background-color:#fcfcfc;	
	overflow: hidden;
}

.box7_top .T_left{
	width:180px;
	height: 100%;
	float:left;
}

.box7_top .T_left img{
	width:100%;
	height: 100%;
}

.box7_top .T_right{
	width:180px;
	height:150px;
	float:left;
	margin-left: 20px;
}
.box7_top .T_right h4{
	width: 160px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient:vertical;	
}

.box7_top .T_right h4 a{
	display: block;
	color:#333;
	font-weight: 500;
}

.box7_top .T_right p{
	color:#999999;
	text-indent: 2em;
	font-size:16px;
	line-height: 22px;
}

.box7_wrap #T_text{
	width: 100%;
	height:159px;	
}

.box7_wrap #T_text a:hover{
	color:deepskyblue;
}

.box7_wrap #txt:before{
	content:"";
	display: block;
	width:6px;
	height:6px;
	margin:0 3px;
	border-radius:3px;
	position: absolute;
	left:3px;
	top:50%;
	transform:translate(0 -50%);
	background-color: #999999;
}

.box7_wrap #txt{
	width: 100%;
	height: 20px;
	border:none;
	position: relative;

}

.box7_wrap #txt a{
	color:#999999;
	font-size: 16px;
	text-align:center;
	line-height: 20px;
	padding-left:17px;
	
}

.box7_wrap>li:nth-of-type(2) #txt:nth-of-type(2) a{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;	
}

.box8{
	width:100%;
	height: 500px;
	background: linear-gradient(#fafafc, #fff); ;	
}

.box8 .box8_content{
	width:90%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.box8 .box8_content .box8_left{
	width:600px;
	height: 100%;	
	float:left;
}
.box8 .box8_content .box8_left h2{
	width:100%;
	height: 30px;
	margin: 30px 0;
	font-weight: 400;
}

.box8 .box8_content .box8_left .Q{
	width:100%;
	height:auto;
	float:left;
	/*border-bottom:1px solid #E6E6E6;*/
	padding-bottom: 10px;
}
.box8 .box8_content .box8_left .Q .icon_Q{
	width:30px;
	height: 30px;
	background: red;
	border-radius: 50%;
	text-align: center;
	color:#fff;
	line-height: 30px;
	float: left;
	margin-right:8px;
}
.box8 .box8_content .box8_left .Q .txt_Q{
	width:500px;
	height: 30px;
	float:left;
	border-bottom:1px solid #E6E6E6;
}
.box8 .box8_content .box8_left .Q .txt_Q a{
	font-weight: 500;
	color:#333;
}
.box8 .box8_content .box8_left .A{
	width:100%;
	/*height:85px;*/
	margin: 15px 0;
	overflow: hidden;
	padding-top:10px;
}

.icon_A{
	width:30px;
	height: 30px;
	background: #18bac9;
	border-radius: 50%;
	text-align: center;
	color:#fff;
	line-height: 30px;
	float: left;
	margin-right:8px;
}

.txt_A{
	overflow: hidden;
	width: 86%;
	float:left;
	
}

.txt_A p{
	color:#999999;
	font-size:14px;
	line-height: 25px;
	float: left;
	width:510px;
}

.box8 .box8_content .box8_left .clearfix:after{
	content:"";
	display:block;
	clear:both;
	height: 0;
	overflow: hidden;
}
.box8 .box8_content .box8_left .clearfix{
	*zoom:1;
}

.box8 .box8_content .box8_right{
	width: 600px;
	height: 100%;
	float:left;
	padding-left:10px ;
}
.box8 .box8_content .box8_right h2{
	width:100%;
	height: 30px;
	margin: 30px 0;
	font-weight: 400;
}
.box8 .box8_content .box8_right .contain{
	width:580px;
	border-bottom: 1px solid #000;
	position: relative;
}

.box8 .box8_content .box8_right .contain>span{
	width:12px;
	height:10px;
	display:block;
	background: url('../img/icon.png') no-repeat;
	background-position: -58px -433px;
	position: absolute;
	left:70px;
	bottom:0;
}

.box8 .box8_content .box8_right ul{
	width:93%;
	margin:20px auto;
	overflow: hidden;
	
}
.box8 .box8_content .box8_right ul li{
	width:98px;
	height:98px;
	float:left;	
	margin-right:45px;
	border:1px solid #e6e6e6;
	border-radius:10px;
}

.box8 .box8_content .box8_right ul li:nth-of-type(4){
	margin-right: 0;
}

.box8 .box8_content .box8_right ul li img{
	width:100%;
	border-radius: 10px;
}

.qiehuan{
	width:100%;
	height: auto;
	
}

.qiehuan .title{
	width:100%;
	height: 30px;
	overflow: hidden;
	margin-top:20px;
}

.qiehuan h3{
	font-size:20px;
	font-weight:500;
	color:#333;
	float: left;
}

.qiehuan h3:nth-of-type(2){
	float:right;
	margin-right:20px;
}

.qiehuan>p{
	width:100%;
	height: auto;
	font-size:14px;
	margin-top:20px;
	color:#999999;
	line-height: 23px;
}

.footer{
	width:100%;
	height:500px;
	background:url('../img/footer-bg.jpg') no-repeat;
	background-size: 100% 100%;
}


.footer .f_wrap{
	width:80%;
	height: 100%;
	margin:0 auto;
}

.f_top{
	width:100%;
	height: 120px;
	padding-top:50px;
}


.f_top h2{
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-family: "inherit";
}

.f_top p{
	height: 24px;
	color:#fff;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
}

.f_bottom{
	width:100%;
	height:330px;
}

.f_bottom .f_left{
	width: 600px;
	height: 100%;
	/*border:1px solid #fff;*/
	float:left;
}


.f_bottom input{
	height: 40px;
	line-height: 40px;
	background: none;
	color: #fff;
	font-size: 14px;
	outline: none;
	border: none;
	border:1px solid #fff;
	border-radius: 5px;
	padding-left:10px;
	
}

.f_bottom #name{
	width: 175px;
	
}


#tel{
	width:320px;
	margin-left: 20px;
}

#QQ{
	width:248px;
}

#weixin{
	width:248px;
	margin-left: 20px;
}

.show{
	width:540px;
	height: 76px;
	background: none;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 14px;
    border: 1px solid #fff;
    outline: none;
    box-sizing:border-box;
    border-radius: 5px;
    margin-top:20px;
    padding: 10px 0 0 10px;
    
    
}

#submit{
	width:100px;
	height: 40px;
	background-color: #1773ba;
	outline: none;
	border:none;
	border-radius:5px;
	text-align: center;
	line-height: 40px;
}

input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}

.show::-webkit-input-placeholder{
    color: #fff;
    opacity:1;
    font-size: 14px;
    font-family: "微软雅黑";
    
}


.f_bottom .f_right{
	width:450px;
	float:left;
	/*border:1px solid #fff;*/
	margin-left:20px;
}

.f_bottom .f_right ul li{
	width:80%;
	height: 50px;
	text-align: left;
	line-height: 50px;
	color:#fff;
	font-size:14px;
	margin:0 auto;
}

.f_bottom .f_right ul li span{
	display: inline-block;
	width:28px;
	height:28px;
	
	margin-right: 12px;
	top:8px;
	position: relative;
	float:left;
}

.f_icon1{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -481px;
}

.f_icon2{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -535px;
}

.f_icon3{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -590px;
}

.f_icon4{
	background: url('../img/icon.png') no-repeat;
	background-position: -50px -645px;
}


.f_bottom .f_right ul li:nth-of-type(1) p{
	float:left;
	font-weight: bold;
}


.bottom{
	width:100%;
	height: 375px;
}

.b_wrap{
	width:80%;
	height: 100%;
	margin:0 auto;
	
}


.b_wrap .b_top{
	width: 100%;
	height: 280px;
	border-bottom:1px solid #ddd;
}

.b_wrap .b_top ul li{
	height: 30px;
	text-align: left;
	line-height:30px;
}
.b_wrap .b_top ul li:nth-of-type(1){
	margin-bottom: 14px;
}


.b_wrap .b_top ul li a{
	color:#999999;
	font-size: 14px;
	
}

.b_wrap .b_top ul li .tit{
	color:#3f3f3f;
}

.column1{
	width:60px;
	float:left;
	margin:30px 80px 0 0;
}

.column2{
	width: 60px;
	float:left;	
	margin:30px 80px 0 0;
}

.column3{
	width: 120px;
	float:left;	
	margin:30px 80px 0 0;
}

.column4{
	width: 90px;
	float:left;	
	margin:30px 80px 0 0;
}

.column5{
	width: 60px;
	float:left;
	margin:30px 80px 0 0;	
}

.b_left{
	float: left;
	width:800px;
	height: 100%;
	/*border:1px solid #ddd;*/ 
}

.b_right{
	float:left;
	width:250px;
	height: 100%;
	/*border:1px solid #ddd;*/
	margin-left: 20px;
	
}


.b_right p:nth-of-type(1){
	width: 100%;
	height:30px;
	text-align: center;
	line-height: 30px;
	color: #3f3f3f;
	font-size:14px;
	margin-top: 30px;
}

.b_right img{
	width:120px;
	height: 120px;
	display: block;
	margin-left:70px;
}

.b_right p:nth-of-type(2){
	width: 100%;
	height: 40px;
	margin:20px 0 0 45px;
	
}


.b_right p:nth-of-type(2) span:nth-of-type(1){
	width:18px;
	height:18px;
	display:block;
	background:url('../img/icon.png') no-repeat;
	background-position:-55px -705px;
	float:left;
	margin-right:14px;
}

.b_right p:nth-of-type(2) span:nth-of-type(2){
	width:200px;
	height: 40px;
	display:block;
	float:left;
	font-size: 20px;
	margin-top:-5px;
}

.b_bottom ul{
	overflow: hidden;
	margin-top:20px;
}


.b_bottom ul li:after{
	content: "|";
	height: 10px;
	padding-left: 5px;
}

.b_bottom ul li:nth-of-type(1):after{
	content:"";
}

.b_bottom ul li:nth-of-type(6):after{
	content:"";
}

.b_bottom ul li{
	float:left;
	width:80px;
	height: 30px;
	font-size:14px;
	color:#3f3f3f;
	text-align:center;
	line-height:30px;
}



.b_bottom ul li:nth-of-type(2){
	width:100px;
}

.b_bottom ul li:nth-of-type(3),.b_bottom ul li:nth-of-type(4){
	width:70px;
}

.b_bottom ul li:nth-of-type(6){
	width:120px;
}


.b_bottom p{
	width: 80%;
	color:#999999;
	font-size: 13px;
	float:left;
}


.active{
	background-color:#fff !important;
	}
	
.active2{
	background-color: rgba(0,0,0,0.8) !important;
}


.slide_down:hover{
	display:block !important;
}

.shade_img{
	width: 285px;
	height: 200px;
	background: skyblue;
	position: absolute;
	left:0;
	top:0;
	display:none;
}

.active3{
	background: skyblue;
	border:1px solid #1E90FF;
}

.down1 ol li:hover{
	background: skyblue;
	border:1px solid #1E90FF;
}


.down2 .slide_ol li:hover{
	background: skyblue;
	border:1px solid #1E90FF;
}
